@media (max-width: 539.98px) {
    .discover-ai-powered-assistant-final-container{
        -webkit-margin-start: 0;
        margin-inline-start: 0;
        width: 100%;
    }
}
@media (max-width : 859px) {
    .nav-top-side-flex-container{
        position: relative;
        padding: 2px 0;
        margin: 0;
    }
    ._25em{
        letter-spacing: -0.025em;
    }
    .microsoft-icon-container-attribute{
        margin: 1px;
        padding: 14px 4px;
        float: none;
        display: block;
        position: absolute;
        left: calc(50% - 60px);
        height: auto;
    }
    .azure-category-container{
        left: 0;
        background: #fff;
        border-bottom: 1px solid #e6e6e6;
        display: block;
        height: 33px;
        position: absolute;
        width: 100%;
        top: 54px;
    }
    .form-tag-container{
        margin: 0;
    }
    .search-icon-button-container{
        left: 1px;
        padding: 14px 8px 8px 0;
        margin-left: 2px;
    }
    .search-icon-button-container::after{
        vertical-align: baseline;
    }
    .azure-category-button-container{
        background-color: transparent;
        border: 0;
        color:var(--text-color-black);
        display: block;
        font-weight: 600;
        height: 100%;
        margin: 0 1px;
        padding: 0 15px;
        text-align: left;
        font: var(--font-bold);
    }
    .azure-category-button-container::after{
        font-family: var(--icon-2);
        content: "";
        font-size: 12px;
        font-weight: 700;
        padding-left: 7px;
        position: relative;
        top: 2px;
    }
    .actual-real-child-ofnav-container{
        display: flex;
        flex: 1 0 auto;
        justify-content: flex-end;
        margin-right: 12px;
    }
        .search-container{
        display: block;
        margin: 6px 0;
        float: left;
    }

    .search-button{
        left: 1px;
        padding: 14px 8px 8px 0;
        margin-left: 2px;

    }
    .only-after-859{
        display: none;
    }
    .search-button ::after{
        vertical-align: baseline;
    }
    .code-connect-layout-section-second-last-1{
        margin-right: initial;
        margin-left: initial;
    }
    .secondary-nav-child{
        padding-left: 0;
        padding-right: 0;
    }
    .secondary-nav .dropdown {
        margin: 0.25rem;
        position: static;
    }
    .section-master .sction-master-layout-header{
        margin-left: initial;
        margin-right: initial;
    }
    
}


@media (max-width: 1399px) {
}

@media (prefers-reduced-motion: no-preference) {
    .animation--effect-2, .animation--effect-2-scroll.effect-on {
        --animation-duration: 1200ms;
        animation: fade-in 1200ms, slide-up 1200ms ease-in-out 0s 1 normal none;
    }
}